
.app-container {
  font-family: Arial, sans-serif;
}

@media (max-width: 768px) {
  .app-container {
    max-width: 768px;
    height: auto;
  }

  h1 {
    font-size: 6vw; 
  }

  .card {
    width: 100%; 
  }
}
